<!-- Required meta tags -->

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment = "header">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >

<!-- Favicons -->
<link rel="apple-touch-icon" th:href="@{/img/favicons/apple-touch-icon.png}" sizes="180x180">
<link rel="icon" th:href="@{/brand/delivery-truck.svg}">
<link rel="manifest" th:href="@{/img/favicons/manifest.json}">
<link rel="mask-icon" th:href="@{/img/favicons/safari-pinned-tab.svg}"> <!-- color="#563d7c" -->

<meta name="msapplication-config" th:content="@{/img/favicons/browserconfig.xml}">
<meta name="theme-color" content="#563d7c">


<style>
	.bd-placeholder-img {
	  font-size: 1.125rem;
	  text-anchor: middle;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
</style>
</th:block>
</html>
