<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment = "navbar">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style = "color: black" class="nav-link" th:href="@{/auth/home}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      &nbsp;
      &nbsp;
      <button type="submit" name="submit" value="submit" id="submit" class="btn btn-secondary btn-sm btn-icon" th:formaction = "@{/auth/signout}" formmethod = "get">LOG OUT</button>
    </form>
  </div>
</nav>
</th:block>
</html>