<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<style>
	   html,body{
       background-image: url('');
	   background-size: cover;
	   background-repeat: no-repeat;
	   height: 100%;
	   font-family: 'Numans', sans-serif;
	   }
	  </style>
	<th:block th:replace ="fragments/header :: header" />
	<title>Crea Atleta</title>
	<!-- style per le pagine diverse dalla index -->
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$("#form").submit(function( event ) {
    		var messaggioErrore = "";
    	  if ( $( "#username" ).val() == "" || $( "#username" ).val() == null){
    		  messaggioErrore = messaggioErrore + "Campo USERNAME obbligatorio!\n";
      	  }
    	  if ( $( "#password" ).val() == "" || $( "#password" ).val() == null){
    		  messaggioErrore = messaggioErrore + "Campo PASSWORD obbligatorio!\n";
          }
    	  if ( $( "#repeatePassword" ).val() == "" || $( "#repeatePassword" ).val() == null){
    		  messaggioErrore = messaggioErrore + "Campo REPEATE PASSWORD obbligatorio!\n";
          }
    	  if(messaggioErrore != ""){
    		  alert(messaggioErrore);
    		  event.preventDefault();
      	  	  return;
    	  }
    	});
    });
    </script> -->
</head>
<body>
<th:block th:replace ="fragments/navbar :: navbar" />
	<main role="main" class="container">
		<div class='card'>
		    <div class='card-header'>
		        <h5>Crea un atleta</h5> 
		    </div>
		    <div class='card-body'>
					<form id="form" action="#" th:action="@{/atleta/insert}" method="post" th:object="${atletaInsertModel}" novalidate="novalidate">
						<div class="form-row">
							<div class="form-group col-md-3">
								<label>Nome</label>
								<input type="text" th:field="*{nome}" id="nome" class="form-control" placeholder="Inserire il nome" required>
								<p style="color:red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
							</div>
							<div class="form-group col-md-3">
								<label>Cognome</label>
								<input type="text" class="form-control" th:field="*{cognome}" id="cognome" placeholder="Inserire il cognome" required>
								<p style="color:red" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
							</div>
							<div class="form-group col-md-3">
								<label>Codice Fiscale</label>
								<input type="text" class="form-control" th:field="*{codiceFiscale}" id="codiceFiscale" placeholder="Inserire il codice fiscale" required>
								<p style="color:red" th:if="${#fields.hasErrors('codiceFiscale')}" th:errors="*{codiceFiscale}"></p>
							</div>
							<div class="form-group col-md-3">
								<label>Username</label>
								<input type="text" class="form-control" th:field="*{username}" id="username" placeholder="Inserire l'username" required>
								<p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
							</div>
							<div class="form-group col-md-3">
								<label>Password</label>
								<input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Inserire la password" required>
								<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
							</div>
						</div>
						<button type="submit" name="submit" value="submit" id="submit" class="btn btn-success">Crea atleta!</button>
					</form>
			<!-- end card-body -->			   
		    </div>
		</div>	
	<!-- end container -->	
	</main>
	<th:block th:replace ="fragments/footer :: footer" />
</body>
</html>