<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<style>
	   html,body{
       background-image: url('');
	   background-size: cover;
	   background-repeat: no-repeat;
	   height: 100%;
	   font-family: 'Numans', sans-serif;
	   }
	  </style>
	<th:block th:replace ="fragments/header :: header" />
	<title>Ritira Atleta</title>
	<!-- style per le pagine diverse dalla index -->
    <link th:href="@{/css/global.css}" rel="stylesheet">
</head>
<body>
	<th:block th:replace ="fragments/navbar :: navbar" />
	<main role="main" class="container">
		<div class='card'>
		    <div class='card-header'>
		        <h5>Ritirare atleta?</h5> 
		    </div>
		    <div class='card-body'>
					<form method="get" novalidate="novalidate">
						<button type="submit" name="submit" value="submit" id="submit" th:formaction="@{/atleta/confermaRitira/{atletaId}(atletaId=${atletaRitiraId})}" class="btn btn-success">Conferma</button>
						<button type="submit" name="submit" value="submit" id="submit" th:formaction="@{/atleta/list}" class="btn btn-success">Annulla</button>
					</form>
			<!-- end card-body -->			   
		    </div>
		</div>	
	<!-- end container -->	
	</main>
	<th:block th:replace ="fragments/footer :: footer" />
</body>
</html>