<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <th:block th:replace ="fragments/header :: header" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <style type="text/css">
    	body {
		  padding-top: 3.5rem;
		}	
	   html,body{
       background-image: url('https://images.unsplash.com/photo-1569517282132-25d22f4573e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1433&q=80');
	   background-size: cover;
	   background-repeat: no-repeat;
	   height: 100%;
	   font-family: 'Numans', sans-serif;
	   }
    </style>
    <title>Olimpiadi Infinite</title>
  </head>
  <body class="text-left">
	<th:block th:replace ="fragments/navbar :: navbar" />
	&nbsp;
	&nbsp;
	<main role="main">
	  <!-- Main jumbotron for a primary marketing message or call to action -->
	    <div class="container">
	      <h1 style = "color: white" class="display-3">Benvenuto nelle<br> OLIMPIADI INFINITE MVC!</h1>
	      &nbsp;
		  &nbsp;
	      <p><a sec:authorize = "hasAuthority('ORGANIZZATORE')" class="btn btn-success btn-lg" th:href="@{/gara/list}" role="button">Gestione eventi &raquo;</a></p>
	   	  <p><a sec:authorize = "hasAuthority('ORGANIZZATORE')" class="btn btn-success btn-lg" th:href="@{/rappresentante/list}" role="button">Gestione rappresentanza &raquo;</a></p>
	      <p><a sec:authorize = "hasAuthority('RAPPRESENTANTE_NAZIONALE')" class="btn btn-success btn-lg" th:href="@{/atleta/list}" role="button">Gestione rappresentanza &raquo;</a></p>
	    </div>
	</main>
	<th:block th:replace ="fragments/footer :: footer" />
  </body>
</html>